{% extends "rango/base.html" %}
{% block title %}
{% load static %}
Контакты
{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
	<h1 class="text-center">Контакты библиотеки</h1>
	<h3 class="text-center text-muted">где можно забрать книги, или узнать о их наличии</h1>
	<div class="wrp">
		<div class="row">
			<div class="col-sm-6">
				<div class="product_img">
					<div class="product_img_big">
						<div class="tab-content">
							<div class="tab-pane active">
								<img src="{% static 'user_pic.jpg' %}">
							</div>
						</div>
					</div>
				</div>
			</div>					
			<div class="col-sm-6">
				<div class="text description">
					<table class="table">
						<tbody>
							<tr>
								<th scope="col">Автор проекта</th>
								<th scope="col">Стрелов Г.О.</th>
							</tr>
							<tr>
								<th scope="col">Электронная почта</th>
								<th scope="col">georgestrelov@gmail.com</th>
							</tr>
							<tr>
								<th scope="col">Страница ВК</th>
								<th scope="col">https://vk.com/id312928417</th>
							</tr>
							<tr>
								<th scope="col">Телефон</th>
								<th scope="col">+7 (908) 240-13-93</th>
							</tr>	
							<tr>
								<th scope="col">Адрес выдачи книг</th>
								<th scope="col">г. Пермь, ул. Льва Шатрова 4, 2 п., правая лавочка</th>
							</tr>										
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% else %}
<div class="a_text text-center"><a href="/login" class="text-center collapsed a_font">Авторизуйтесь</a>, пожалуйста</div>
{% endif %}
{% endblock %}