{% extends 'rango/base.html' %}
{% load static %}
{% block title %} регистрация {% endblock %}
{% block body_block %}
	<h1>Регистрация нового пользователя</h1>
	{% if registered %}
		<strong>{{ result }}</strong>
		<a href="/rango/">Домой</a><br/>
	{% else %}
		<strong>Заполните поля</strong><br/>
		<strong>{{ result }}</strong>
		<form id="user_form" method="POST" action="/rango/register/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Отправить" />
		</form>
	{% endif %}
	<img width="250" src="{% static user_pic %}" alt="Здесь должен быть пепе"/>
{% endblock %}
