{% extends 'rango/base.html' %}
{% load static %}
	{% block title %}
	Главная
	{% endblock %}
	{% block body_block %}
	<div class="box">
		<article class="product_full">
			<div class="wrp">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="title">{{ page.title }}</h1>
						<div class="text description">
							<table class="table">
								<tbody>
									<tr>
										<th scope="col">Автор</th>
										<th scope="col">{{ page.author }}</th>
									</tr>
									<tr>
										<th scope="col">Категория</th>
										<th scope="col">{{ page.category }}</th>
									</tr>
									<tr>
										<th scope="col">Год издания</th>
										<th scope="col">{{ page.year }}</th>
									</tr>									
								</tbody>
							</table>
							{{ page.desc }}
						</div>
					</div>
					<div class="col-sm-6">
						<div class="product_img">
							<div class="product_img_big">
								<div class="tab-content">
									<div class="tab-pane active">
										<img src="{{ page.image.url }}" alt="{{ page.title }}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	{% endblock %}